.max-container {
    display: flex;
    justify-content: center;
    background-color: #00ABB3;
    max-height: calc(100vh- 180px);
    padding: 50px 0 50px 0;
    background-image: url("/public/9lZ7.gif");
}

.table-wrapper-ventas {
    max-height: 500px;
    width: 400px;
    overflow: auto;
    display:inline-block;
}

::-webkit-scrollbar {
    width: 0px;
}



.table-bordered {
    width: 400px;
    height: 500px;
    text-align: center;
    background-color: #45b1e8;
    
}



#table-img-ventas {
    width: 400px;
    height: 500px;
}

.footer-container {
    background-color: #3C4048;
    background-image: url("/public/headfoot.jpg");
    padding: 12px;
}

.foot-text {
    text-align: center;
    color: white;
}
